<template>
  <div id="app">
    {{titulo}}
    <button @click="titulo += '#'">Alterar</button>
  </div>
</template>

<script>
export default {
  data: () => ({ titulo: "Teste Data usando Vue js!!!" })
};
</script>

<style>
#app {
  background-color: chocolate;
  color: #fff;
}
</style>