<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    #app {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }
</style>

<div id="app">
    <div class="demo" :class="{c1:aplicaC1}" @click="aplicaC1 = !aplicaC1">
        1
    </div>
    <div class="demo" :class="{c1:aplicaC1}" @click="aplicaC1 = !aplicaC1">
        2
    </div>
    <div class="demo">3</div>
</div>

<script>
    new Vue({
        el: '#app',
        data: { aplicaC1: false },
    });
</script>
