<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    .caixas {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }

    .girar {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :class="estilo1" @click="aplicaC1 = !aplicaC1">
            1
        </div>
        <div class="demo">
            2
        </div>
        <div class="demo" :class="[classeCss, {girar:aplicarGirar}]">3</div>
    </div>
    <hr />
    <input type="text" v-model="classeCss " /><br />
    <button @click="alteraGirar">Girar</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            aplicaC1: false,
            classeCss: 'c1',
            aplicarGirar: true,
        },
        computed: {
            estilo1() {
                return {
                    c1: this.aplicaC1,
                    c2: !this.aplicaC1,
                };
            },
        },
        methods: {
            alteraGirar() {
                this.aplicarGirar = !this.aplicarGirar;
            },
        },
    });
</script>
