<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    .caixas {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }

    .girar {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :style="{backgroundColor:cor}">1</div>
        <div class="demo" :style="[meuEstilo, {height: altura}]">2</div>
        <div class="demo">3</div>
    </div>
    <input type="text" v-model="cor" />
    <input type="text" v-model="largura" />
    <input type="text" v-model="altura" />
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cor: 'red',
            largura: 350,
            altura: 20,
        },
        computed: {
            meuEstilo() {
                return {
                    backgroundColor: this.cor,
                    width: `${this.largura}px`,
                };
            },
        },
    });
</script>
