<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Matador de Monstro</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <h1 class="text-center">Matador de Monstros</h1>
            <div class="container">
                <div class="panel">
                    <div class="grid-2 text-center">
                        <div>
                            <h2>Jogador</h2>
                            <div class="progressbar">
                                <div
                                    class="lifeBar"
                                    :style="{backgroundColor: playerLife < 20 ? 'red' : 'green', width: playerLife + '%'}"
                                ></div>
                            </div>
                            <p>{{ playerLife }}%</p>
                        </div>
                        <div>
                            <h2>Monstro</h2>
                            <div class="progressbar">
                                <div
                                    class="lifeBar"
                                    :style="{backgroundColor: monsterLife < 20 ? 'red' : 'green', width: monsterLife + '%'}"
                                ></div>
                            </div>
                            <p>{{ monsterLife }}%</p>
                        </div>
                    </div>
                </div>
                <div class="panel" v-show="playerLife == 0 || monsterLife == 0">
                    <p
                        class="text-center lead text-success"
                        v-show="monsterLife == 0"
                    >
                        Você Ganhou!
                    </p>
                    <p
                        class="text-center lead text-danger"
                        v-show="playerLife == 0"
                    >
                        Você Perdeu! :(
                    </p>
                </div>
                <div class="panel">
                    <div class="center-all">
                        <button
                            v-show="!playing"
                            @click="startGame"
                            class="btn btn-primary"
                        >
                            Iniciar Novo Jogo
                        </button>
                        <div v-show="playing">
                            <button
                                class="btn btn-danger"
                                @click="executeAction('A')"
                            >
                                Ataque
                            </button>
                            <button
                                class="btn btn-warn"
                                @click="executeAction('S')"
                            >
                                Ataque Especial
                            </button>
                            <button
                                class="btn btn-success"
                                @click="executeAction('H')"
                            >
                                Curar
                            </button>
                            <button class="btn btn-dark" @click="clearGame">
                                Desistir
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel" v-show="!!gameLogs.length">
                    <ul>
                        <li v-for="log in gameLogs" class="p">
                            <div class="text-center">
                                <p
                                    v-if="log.playerAttack"
                                    :class="log.logStyle"
                                >
                                    JOGADOR ATINGIU O MONSTRO COM
                                    {{ log.playerAttack }}.
                                </p>
                                <p
                                    v-if="log.monsterAttack"
                                    :class="log.logStyle"
                                >
                                    MONSTRO ATINGIU O JOGADOR COM
                                    {{ log.monsterAttack }}.
                                </p>
                                <p v-if="log.heroHeal" :class="log.logStyle">
                                    JOGADOR SE CUROU COM {{ log.heroHeal }}.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="main.js"></script>
    </body>
</html>
