<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="text" v-on:input="alterarTitulo" />
    <p>{{ titulo }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS!',
        },
        methods: {
            alterarTitulo(event) {
                this.titulo = event.target.value;
            },
        },
    });
</script>
