<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    {{ titulo }}
    <button @click="alterar">Alterar</button>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            titulo: 'Teste 1',
        },
        methods: {
            alterar() {
                this.titulo += '!!!';
            },
        },
    });

    // era para dar erro mas funcionou :v
    vm.novaInfo = 'Teste';
    console.log(vm.novaInfo);
</script>
