<template>
  <div id="app">
    <h1>Registrar Reclamação</h1>
    <div class="conteudo">
      <form class="painel" v-if="!enviado">
        <div class="cabecalho">Formulário</div>
        <Rotulo nome="E-mail">
          <input v-model.trim="usuario.email" type="text" />
        </Rotulo>
        <Rotulo nome="Senha">
          <input v-model.lazy="usuario.senha" type="password" />
        </Rotulo>
        <Rotulo nome="Idade">
          <input v-model.number="usuario.idade" type="number" />
        </Rotulo>
        <Rotulo nome="Mensagem">
          <textarea v-model="mensagem" name="" cols="30" rows="5"></textarea>
        </Rotulo>
        <Rotulo nome="Características do Problema">
          <span class="mr-4">
            <label>
              <input
                v-model="caracteristicas"
                type="checkbox"
                value="reproduzivel"
              />
              Reproduzível
            </label>
          </span>
          <span>
            <label>
              <input
                v-model="caracteristicas"
                type="checkbox"
                value="intermitente"
              />
              Intermitente
            </label>
          </span>
        </Rotulo>
        <Rotulo nome="Qual produto?">
          <span class="mr-4">
            <label>
              <input type="radio" value="web" v-model="produto" /> Web
            </label>
          </span>
          <span class="mr-4">
            <label>
              <input type="radio" value="mobile" v-model="produto" /> Mobile
            </label>
          </span>
          <span>
            <label>
              <input type="radio" value="outro" v-model="produto" /> Outro
            </label>
          </span>
        </Rotulo>
        <Rotulo nome="Prioridade">
          <select v-model="prioridade">
            <option
              v-for="prioridade in prioridades"
              :key="prioridade.codigo"
              :value="prioridade.codigo"
            >
              {{ prioridade.codigo }} - {{ prioridade.nome }}
            </option>
          </select>
        </Rotulo>
        <Rotulo nome="Primeira Reclamação?">
          <Escolha v-model="escolha" />
        </Rotulo>
        <hr />
        <button @click.prevent="enviar">Enviar</button>
      </form>
      <div class="painel" v-else>
        <div class="cabecalho">Resultado</div>
        <Rotulo nome="E-mail">
          <span>{{ usuario.email }}</span>
        </Rotulo>
        <Rotulo nome="Senha">
          <span>{{ usuario.senha }}</span>
        </Rotulo>
        <Rotulo nome="Idade">
          <span>{{ usuario.idade }} {{ tipoIdade }}</span>
        </Rotulo>
        <Rotulo nome="Mensagem">
          <span style="white-space: pre">{{ mensagem }}</span>
        </Rotulo>
        <Rotulo nome="Marque as Opções">
          <span>
            <ul v-for="c in caracteristicas" :key="c">
              <li>{{ c }}</li>
            </ul>
          </span>
        </Rotulo>
        <Rotulo nome="Qual produto?">
          <span>{{ produto }}</span>
        </Rotulo>
        <Rotulo nome="Prioridade">
          <span>{{ prioridade }}</span>
        </Rotulo>
        <Rotulo nome="Primeira Reclamação?">
          <span>{{ escolha }}</span>
        </Rotulo>
      </div>
    </div>
  </div>
</template>

<script>
import Rotulo from "./components/Rotulo.vue";
import Escolha from "./components/Escolha.vue";

export default {
  name: "app",
  computed: {
    tipoIdade() {
      return typeof this.usuario.idade;
    }
  },
  methods: {
    enviar() {
      this.enviado = !this.enviado;
    }
  },
  data: () => ({
    mensagem: "",
    caracteristicas: [],
    produto: "web",
    prioridade: 0,
    prioridades: [
      { codigo: 1, nome: "Baixa" },
      { codigo: 2, nome: "Média" },
      { codigo: 3, nome: "Alta" }
    ],
    usuario: {
      email: "",
      senha: "",
      idade: 0
    },
    escolha: true,
    enviado: false
  }),
  components: { Rotulo, Escolha }
};
</script>

<style>
body {
  background-color: #ececec;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  display: flex;
  flex-direction: column;
}

.conteudo {
  display: flex;
}

.painel {
  flex: 1;
  background: #fff;
  margin: 0px 10px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.painel .cabecalho {
  width: 100%;
  background-color: #ddd;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 1.4rem;
}

#app form button {
  float: right;
  margin: 10px 0px;
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #fff;
  background-color: #2196f3;
}

#app h1 {
  font-weight: 200;
  margin: 20px;
  padding: 0;
}

.mr-4 {
  margin-right: 40px;
}
</style>
