<template>
  <v-app>
    <Header />
    <v-content>
      <v-container>
        <transition name="slider" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  components: { Header },
  created() {
    this.$store.dispatch("initStocks");
  }
};
</script>

<style>
@keyframes slide-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-ou {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.slider-enter-active {
  animation: slide-in 0.2s ease;
}

.slider-leave-active {
  animation: slide-out 0.2s ease;
}
</style>
