<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <!-- 1) Ligue o botão para alternar a exibição dos dois
        parágrafos. Use ambos v-if e v-show e inspecione os elementos
        para ver a diferença -->
    <h2>#01</h2>
    <div>
        <button @click="mostrar = !mostrar">Alternar</button>
        <p v-if="mostrar">Você quer me ver ...</p>
        <p v-else>... ou eu</p>
        <p v-show="mostrar">Você quer me ver ...</p>
        <p v-show="!mostrar">... ou eu</p>
    </div>

    <!-- 2) Exiba em uma <ul> um array de elementos da sua escolha.
            Imprima também o índice de cada elemento. -->
    <h2>#02</h2>
    <ul>
        <li v-for="(nome, index) in array" :key="nome">
            {{ index }} - {{ nome }}
        </li>
    </ul>

    <!-- 3) Imprimir todos os pares de valor-chave do objeto a seguir:
                {
                    titulo: 'O Senhor dos Anéis',
                    autor: 'J.R.R. Tolkiens',
                    volume: '3'
                }
                Imprima também o índice de cada item. -->
    <h2>#03</h2>
    <ul>
        <li v-for="(valor, chave, indice) in livro" :key="indice">
            {{ indice + 1 }} - {{ chave }} : {{ valor }}
        </li>
    </ul>

    <!-- 4) Imprima o seguinte objeto (somente os valores) e
                    também crie um loop aninhado para o array:
                    {
                        id: 10,
                        nome: 'Maria',
                        notas: [7.67, 8.33, 6.98, 9.21]
                    }
                    (dica: use v-for e v-if na resolução) -->
    <h2>#04</h2>
    <ul>
        <li v-for="(valor, chave) in aluno" :key="chave">
            <template v-if="Array.isArray(valor)">
                Notas:
                <ul>
                    <li v-for="val in valor" :key="val">{{ val }}</li>
                </ul>
            </template>
            <template v-else>{{ valor }}</template>
        </li>
    </ul>
</div>

<script src="app.js"></script>
