<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <contador></contador>
    <CONTADOR></CONTADOR>
    <Contador></Contador>
    <contadoR></contadoR>
</div>

<script>
    // Registro Global
    Vue.component('contador', {
        template: `
            <div>
                <span>{{ contador }}</span>
                <button @click="contador++">+</button>
                <button @click="contador--">-</button>
            </div>
        `,
        data: () => ({
            contador: 0,
        }),
    });
    new Vue({
        el: '#app',
    });
</script>
