<template>
  <v-app>
    <Menu />
    <Header />
    <Carrossel />
    <Footer />
  </v-app>
</template>

<script>
import Menu from "@/Components/template/Menu.vue";
import Header from "@/Components/template/Header.vue";
import Carrossel from "@/Components/widgets/Carrossel.vue";
import Footer from "@/Components/template/Footer.vue";

export default {
  components: {
    Menu,
    Header,
    Carrossel,
    Footer
  }
};
</script>
