<template>
  <div class="usuario-detalhe">
    <h2 v-if="!usuario">Usuário não selecionado!</h2>
    <div v-else>
      <h2>ID: {{ usuario.id }}</h2>
      <h2>Nome: {{ usuario.nome }}</h2>
      <h2>Idade: {{ usuario.idade }}</h2>
    </div>
  </div>
</template>

<script>
import barramento from "@/barramento";

export default {
  data: () => ({ usuario: null }),
  created() {
    barramento.recebeUsuario(usuario => (this.usuario = usuario));
  }
};
</script>

<style>
.usuario-detalhe {
  flex: 1;
  border: 1px solid #ccc;
}
</style>
