<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <template v-if="logado">
        <p>Usuário Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
    <input type="checkbox" v-model="anonimo" />
    <hr />
    <footer v-show="logado">
        Desenvolvido para vc!
    </footer>
    <footer v-show="!logado">
        Desenvolvido para vc desconhecido!
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Rodrigo',
            logado: false,
            anonimo: true,
        },
    });
</script>
