<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if="logado">Usuário Logado: {{ nome }}</p>
    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
    <input type="checkbox" v-model="anonimo" />
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Rodrigo',
            logado: false,
            anonimo: true,
        },
    });
</script>
