<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores" :key="cor">{{ i + 1 }}) {{ cor }}</li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>

    <hr />
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr />
    <ul>
        <li v-for="pessoa in pessoas">
            <span v-for="(valor, chave, index) in pessoa">
                {{ chave }} : {{ valor }} ({{ index + 1 }})
            </span>
        </li>
    </ul>
    <hr />
    <span v-for="n in tamanho">{{ n }} </span>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            tamanho: 20,
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 89 },
            ],
        },
    });
</script>

<style>
    ul {
        list-style: none;
    }
    h1,
    p {
        display: inline;
    }
</style>
