<link rel="stylesheet" href="styles.css" />
<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <!-- 1) Iniciar a execução do efeito usando botão. 
    O efeito deve alternadamente trocar as classes "destaque" e
    "encolher" para cada chamada de setInteval. Use a div abaixo
	com id "efeito" para associar as classes CSS. -->
    <h2>#01</h2>
    <div>
        <button @click="iniciarEfeito">Iniciar Efeito</button>
        <div id="efeito" :class="efeito"></div>
    </div>

    <!-- 2) Crie duas classes CSS e associe a div usando a
		sintaxe de array -->
    <h2>#02</h2>
    <div :class="[c1, 'c2']">Estou sem classe CSS :(</div>

    <!-- 3) Aplique na div abaixo a classe informada pelo usuário
		(crie classe CSS de exemplo). -->
    <h2>#03</h2>
    <div>
        <input type="text" v-model="classeCss" />
        <div id="efeito" :class="classeCss"></div>
    </div>

    <!-- 4) Aplique na div abaixo a classe informada pelo usuário e
    outra classe usando o valor true/false (crie classes CSS de exemplo). -->
    <h2>#04</h2>
    <div>
        <input type="text" v-model="classeCss4" />
        <input type="text" @input="setGirar" />
        <div id="efeito" :class="[classeCss4, {girar}]"></div>
    </div>

    <!-- 5) Repita 3) mas utilizando estilos ao invés de classes CSS.
    Associe os estilos a div abaixo  -->
    <h2>#05</h2>
    <div>
        <input type="text" v-model="bgcolor" />
        <div id="efeito" :style="{backgroundColor: bgcolor}"></div>
    </div>

    <!-- 6) Crie uma barra de progresso simples com setInterval 
    e binding de estilo. -->
    <h2>#06</h2>
    <div>
        <button @click="iniciarProgresso">Iniciar</button>
        <button @click="porcentagem = 0">Zerar</button>
        <div>{{ porcentagem }} %</div>
        <div class="progressbar">
            <div :style="myStyle"></div>
        </div>
    </div>
</div>
<script src="app.js"></script>
