#efeito {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.girar {
    transform: rotate(45deg);
}

.destaque {
    background-color: red;
    width: 200px !important;
}

.encolher {
    background-color: gray;
    width: 50px !important;
}

.progressbar {
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

.c1 {
    background-color: red;
}

.c2 {
    color: green;
}

.estilo1 {
    background-color: blue;
}

.estilo2 {
    background-color: yellow;
}
