<template>
  <div class="usario-detalhe">
    <h3>Usúario Detalhe</h3>
    <p><strong>Código:</strong> {{ id }}</p>
    <router-link
      tag="button"
      primario
      :to="{
        name: 'editarUsuario',
        params: { id },
        query: { completo: true, lingua: 'pt' },
        hash: '#rodape'
      }"
    >
      Editar
    </router-link>
  </div>
</template>

<script>
export default {
  props: ["id"],
  beforeRouteEnter(to, from, next) {
    // next(vm => console.log(vm.id));
    const autenticado = true;
    next(autenticado);
  }
  // data() {
  //   return {
  //     id: this.$route.params.id
  //   };
  // },
  // watch: {
  //   $route(to, from) {
  //     this.id = to.params.id;
  //   }
  // },
};
</script>

<style>
</style>